:root {
  --white: #ffffff;
  --black: #000000;
  --grid_container: [left-gutter] 1fr [contained] minmax(0, 1150px)
    [right-gutter] 1fr;
}

.block {
  padding: 20px;
  background: pink;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

main,
.container {
  display: grid;
  grid-template-columns: var(--grid_container);
}

.contained {
  grid-column: contained;
}

.fluid {
  grid-column: left-gutter / -1;
}

main {
  background: dodgerblue;
}
